<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Breeds</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
     <header>
      <p>Here are Random Doggo's Pic's</p>
      <nav>
        <a href="/">Home</a>
        <a href="/all-breeds">Get pics of Random Breeds</a>
        <a href="/schnauzer">Get a Schnauzer Miniature pic</a></nav>
    </header>
    <div class="dog-images">
      {{#each message}}
        <img src="{{this}}" />
      {{/each}}
    </div>
    <footer><p>Developed at Ironhack</p></footer>
</body>
</html>