<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schnauzer</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header>
      <p>Here is a Random Miniature Schnauzer Pic</p>
      <nav>
        <a href="/">Home</a>
        <a href="/all-breeds">Get pics of Random Breeds</a>
        <a href="/schnauzer">Get a Schnauzer Miniature pic</a></nav>
    </header>
    <div class="dog-images">
      <img src="{{message}}" />
    </div>
    <footer><p>Developed at Ironhack</p></footer>
  </body>
</html>